@{
    ViewBag.Title = "Country";
}
@section scripts {
<script src="~/App/Country/countryController.js"></script>
<script src="~/App/Country/countryService.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("country"), ['countryApp']);
}

<div data-ng-app="countryApp" id="country">
    <ng-view></ng-view>
</div>  